{{ partial "header.html" . }}

<div id="home">
  <h2><a href="/post"><i class="fa fa-bookmark"></i>&nbsp;Posts</a></h2>
  <ul id="blog-posts" class="posts">
    {{ range where .Data.Pages "Section" "post" }}
    {{ partial "list/defaultitem.html" . }}
    {{ end }}
  </ul>
  <h2><a href="/project"><i class="fa fa-code"></i>&nbsp;Projects</a></h2>
  <ul id="project-posts" class="posts">
    {{ range where .Data.Pages "Section" "project" }}
    {{ partial "list/projecticon.html" . }}
    {{ end }}
  </ul>
</div>

{{ partial "footer.html" . }}
