{{ partial "header.html" . }}
<body>
  <div class="container">
    <div class="four columns sidebar">
      {{ partial "sidebar.html" . }}
    </div>

    <div class="eleven columns content">
      <div id="home">
        <h2>
          <i class="fa fa-code"></i>&nbsp;Projects
        </h2>
        <ul id="project-posts" class="posts">
          {{ range .Data.Pages }}
          <li>
            <a class="{{ .Params.featured }}" href="{{ .Permalink }}">
              <img class="project-icon" src="/images/{{ .Type }}/{{ .Slug }}/{{ .Params.icon }}"/>
              {{ .Title }}, {{ .Description }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>

      <div class="footer">
        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
</body>
</html>
