<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us"> <!--<![endif]-->
{{ partial "head.html" . }}
<body>
  <div class="container">
    <div class="four columns sidebar">
      {{ partial "sidebar.html" . }}
    </div>

    <div class="eleven columns content">
