{{ partial "header.html" . }}
<body>
  <div class="container">
    <div class="four columns sidebar">
      {{ partial "sidebar.html" . }}
    </div>

    <div class="eleven columns content">
      <p class="meta">
        {{ if eq .Type "post" }}{{ .Date.Format "Mon, Jan 2, 2006" }}{{ end }}&nbsp;
        <a href="/">
          <i class="home fa fa-home"></i>
        </a>
      </p>

      <h1 class="title">{{ .Title }}</h1>
      
      <div id="post">
        {{ .Content }}
      </div>

      <div class="footer">
        {{ partial "footer.html" . }}
      </div>
    </div>
  </div>
</body>
</html>
